.auth-container {
    height: 100vh;
}

.image {
    background-image: url("https://source.unsplash.com/random");
    background-repeat: nore;
}

.image {
    backgroundImage: "url(https://source.unsplash.com/random)",
    backgroundRepeat: "no-repeat",
    backgroundColor:
      theme.palette.type === "light"
        ? theme.palette.grey[50]
        : theme.palette.grey[900],
    backgroundSize: "cover",
    backgroundPosition: "center",
    backima
  },